// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";
$laranja: #ff6600;
// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.btn-primary{
  background-color:$laranja;
  border-color:orange;
  :hover{
    background-color:orange;
    border-color:$laranja;
  }
}

//Repor
#mdb-scrollspy-ex .nav-item {
width: 100%;
}

#mdb-scrollspy-ex a {
font-size: .8rem;
font-weight: 400;
line-height: 1.1rem;
padding: 0 5px;
margin-top: 3px;
margin-bottom: 3px;
color: black;
}

#mdb-scrollspy-ex li .active {
font-weight: 600;
}

.mdb-scrollspy-ex-example {
height: 200px;
}
.scrollspy-example {
height: 360px;
}

.container{
  position: relative;
  overflow-y: scroll;
}
